

*{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: rgb(179, 231, 214);
  text-align: left;
  font-size: large;
  
}

#cabecera {
  padding: 50px;
  color: rgb(7, 97, 52);
  background-color: rgb(68, 202, 157);
  font-size: xx-large;
  
  

}

button{
  background-color: rgb(8, 92, 53);
  padding: 20px;
  font-weight: 900;
  
}

button:hover{
  color: beige;
  background-color: rgba(14, 146, 102, 0.637);
}

body{
  padding: 60px;
}

.card-grid{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  align-content: center;
  border: 3px solid grey;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 10px;
  overflow: hidden;
}

.card p{
  padding: 5px;
  text-align: center;
}

.card img{
  max-height: 120px;
}